<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}Yinsheng (Jacob) Zhou</title>
  <link rel="stylesheet" type="text/css" href="{{ '/style.css' | relative_url }}">
</head>

<body class="{% if page.layout == 'post' or page.title == 'Blog' %}blog-page{% endif %}">
  {% if page.title == 'Blog' %}
  <table class="blog-header" style="width:100%;max-width:820px;border:0;border-spacing:0;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:20px 0 0 0;">
        <a href="{{ '/' | relative_url }}" class="fade">home</a> /
        <a href="{{ '/blog.html' | relative_url }}" class="fade">blog</a>
      </td>
    </tr>
  </table>
  {% endif %}

  {{ content }}
</body>

</html>
